$main-text-color: #000;
$hover-color: grey;
$second-color: #fff;

*, *::after, *::before{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 3rem 0;
}

body {
    min-height: 100%;
    font: 10px 'Lato';
    background-color: $second-color;
}

a.button {
    font-size: 1.5rem;
    color: $main-text-color;
    padding: 1rem 2rem;
    border: 2px solid $main-text-color;
    transition: color 0.25s, background-color 0.25s;

    i.material-icons {
        font-size: 1rem;
        margin-top: 5px;
        transform: rotate(0);
        transition: transform 0.5s;
    }

    &:hover {
        color: $second-color;
        background-color: $hover-color;
        border: 2px solid $main-text-color;

        i.material-icons {
            transform: rotate(90deg);
            color: $second-color;
        }
    }
}
.button-to-the-top{
    :hover{
        i.material-icons {
            transform: rotate(-90deg);
        }
    }
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    text-align: center;

    .about {

        nav{
            display: flex;
            justify-content: flex-end;

            ul.contact {
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            
                li {
                    margin-right: 1rem;
                    a {
                        text-decoration: none;
                        i {
                            &.material-icons,
                            &.fa {
                                font-size: 2rem;
                                vertical-align: middle;
                                color: $hover-color;
                                filter: brightness(100%);
                                transition: filter 0.5s ease-in-out;
                            }
                        }
                    }
            
                    &:hover a i {
                        filter: brightness(70%);
                        
                    }
                }
            }
        }

        .flex-center{
            min-height: 95vh;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;

            p {
                color: $main-text-color;
        
                &.big {
                    font-size: 3rem;
                }
        
                &.small {
                    font-size: 1.3rem;
                    line-height: 2rem;
                }
        
                span.color {
                    color: #E31B6D;
                }
            }
        }        
    }
    
    .projects{
        min-height: 100vh;
        
        &:last-child{
            position: relative;

            a.button-to-the-top {
                position: absolute;
                bottom: 20px;
                right: -100px;
                font-size: 1.5rem;
                color: $main-text-color;
                padding: 0.5rem 0.5rem;
                border: 2px solid $main-text-color;
                border-radius: 2.5rem;                
                transition: background-color 250ms;
        
                i{
                    font-size: 2rem;
                    transform: rotate(0);
                    transition: color 0.3s, transform 0.3s;
                }
        
                &:hover {
                    color: $second-color;
                    background-color: $hover-color;
                    border: 2px solid $main-text-color;
                }
            }
        }

        

        .list{
            background:url(../images/bg-ul-portfolio.png) no-repeat bottom;
            padding:12px 0 40px 0;
            position:relative;
            margin-bottom:50px;
            width:600px;
            margin: 0 auto 40px auto;

            .jcarousel-clip{
                overflow:hidden;
            }

            ul.portfolio{
                overflow:hidden;

                li{
                    float:left;
                    width:200px;
                    padding:0 3px;

                    a img{
                        margin-bottom:10px;
                        width:190px;
                        background:url(../images/border-image.png) no-repeat;
                        padding:4px;
                        height:123px;
                    }
                }
            }

            a.arrow-left,
            a.arrow-right{
                position: absolute;
                top: 112px;
                text-decoration: none;
                font-size: 3rem;
                color: rgba(0, 0, 0, 0.4);
            }
            a.arrow-right {
                right: -30px;
            }
            .arrow-left {
                left: -30px;
            }
        }
    }

    footer{
        height: 4rem;
    }
}

.close-button {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 10002;

    &:before, &:after, span {
        content: '';
        display: block;
        height: 6px;
        width: 40px;
        margin-bottom: 5px;
        background-color: lightcoral;
        border-radius: 4px;
        cursor: pointer;
        transition: transform 0.5s, background-color 0.5s;
        transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
    }

    &:hover {

        &:before {
            background-color: orange;
            transform: translate(0, 11px) rotate(45deg);
        }

        span {
            background-color: transparent;
            transform: translateX(-10px);
        }

        &:after {
            background-color: orange;
            transform: translate(0,-11px) rotate(-45deg);
        }
    }
}

#preview_bg {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
}
#preview_box {
    z-index: 10001;
    display: none;
}
#preview_frame {
    height: calc(100% - 200px);
    width: 90vw;
    max-width: 1200px;
}

#portfolioJS{
    width: 700px;
}
#portfolio {
    width: 700px;
}
#portfolio-button {
    top: -400px;
}




@media only screen and (max-width: 700px){
    #portfolioJS {
        width: 100%;
    }
    #portfolio {
        width: 100%;
    }
    .wrapper{
        width: 100%;
    }
}