*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-color: #ffffff;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #436970;
  line-height: 50px;
}

@media screen and (max-width: 500px) {
  body {
    line-height: 30px;
  }
}

a, a:visited {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

p {
  margin: 1rem;
}

p.big {
  font-size: 3rem;
}

p.medium {
  font-size: 2rem;
}

p.medium-small {
  font-size: 1.5rem;
}

p.small {
  font-size: 1rem;
}

p.xxl {
  font-size: 4rem;
}

.title {
  margin: 3rem 0;
}

.lowercase {
  text-transform: lowercase;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.section-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem 0;
  margin-right: 1rem;
  background-color: #ffe6c9;
  z-index: 1;
}

nav.section-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav.section-navbar ul li {
  margin-right: 1rem;
}

nav.section-navbar ul li a, nav.section-navbar ul li a:visited {
  color: #436970;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #436970;
  border-radius: 0;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav.section-navbar ul li:hover a {
  color: #fffcf6;
  background-color: #436970;
  -webkit-box-shadow: inset 6.5em 0 0 0 #436970;
          box-shadow: inset 6.5em 0 0 0 #436970;
}

nav.section-navbar ul li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 500px) {
  nav.section-navbar {
    margin-right: 0;
    top: unset;
    bottom: 0;
    background-color: #ffffff;
  }
}

nav.sticky-nav-bar {
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header {
  background-color: #ffe6c9;
  padding-top: 200px;
}

header .header-info {
  overflow: hidden;
  min-height: 55vh;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

header .header-info p.slide-left {
  -webkit-animation: 0.7s slide-left ease-out;
          animation: 0.7s slide-left ease-out;
  text-transform: uppercase;
}

header .header-info p.slide-right {
  -webkit-animation: 0.7s slide-right ease-out;
          animation: 0.7s slide-right ease-out;
  margin: 3rem;
}

header .header-info p.slide-right img {
  height: 1.5rem;
  margin: 0 3px;
}

@media screen and (max-width: 500px) {
  header .header-info p.slide-left {
    margin: 5rem 0;
    font-size: 3rem;
  }
}

header .about {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

header .about img {
  max-width: 280px;
  max-height: 280px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  margin-left: 4rem;
}

header .about p {
  text-align: end;
}

header .about p strong {
  font-weight: bold;
}

@media screen and (max-width: 1250px) {
  header .about {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  header .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2rem;
  }
  header .about img {
    margin-left: 0;
  }
  header .about p {
    text-align: center;
    padding-left: 0;
  }
}

header .header-bottom {
  background-color: #91AA93;
  background: #ffe6c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 500px) {
  header {
    padding-top: 0;
  }
}

ul.js-projects {
  line-height: 16px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

ul.js-projects li {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  height: 500px;
  margin: 40px;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

ul.js-projects li .card {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(12, 18, 138, 0.15) 0px 13px 26px 0px;
          box-shadow: rgba(12, 18, 138, 0.15) 0px 13px 26px 0px;
}

ul.js-projects li:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

ul.js-projects li .card-front, ul.js-projects li .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

ul.js-projects li .card-back {
  padding: 15px 40px;
  background: #ffe6c9;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

ul.js-projects li .card-back h2, ul.js-projects li .card-back h3, ul.js-projects li .card-back a {
  color: #436970;
  font-weight: bold;
  text-align: center;
}

ul.js-projects li .card-back h2 {
  font-size: 2rem;
  line-height: 2rem;
}

ul.js-projects li .card-back h3 {
  padding: 1rem 0;
  line-height: 1.5rem;
}

ul.js-projects li .card-back h3, ul.js-projects li .card-back a {
  margin-top: 1rem;
  font-size: 1rem;
}

ul.js-projects li .card-back a {
  margin-top: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 20px;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: solid 1px #436970;
  text-align: center;
}

ul.js-projects li .card-back a:hover {
  -webkit-transition: background-color, opacity 0.2s ease-out;
  transition: background-color, opacity 0.2s ease-out;
  background-color: #fffcf6;
}

@media screen and (max-width: 500px) {
  ul.js-projects li {
    margin: 2rem 0 0 0;
  }
}

.contact {
  padding: 0 30% 2rem;
  text-align: center;
  background: #ffe6c9;
  color: #436970;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact nav.contacts {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact nav.contacts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact nav.contacts ul li {
  margin-left: 1rem;
  border: 1px solid #fffcf6;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fffcf6;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contact nav.contacts ul li:first-child {
  margin-left: 0;
}

.contact nav.contacts ul li a {
  text-decoration: none;
  cursor: pointer;
}

.contact nav.contacts ul li a i.material-icons, .contact nav.contacts ul li a i.fa {
  font-size: 2rem;
  vertical-align: middle;
  color: #436970;
}

.contact nav.contacts ul li:hover {
  -webkit-box-shadow: inset 0 0 0 2em #436970;
          box-shadow: inset 0 0 0 2em #436970;
}

.contact nav.contacts ul li:hover a i {
  color: #fffcf6;
}

@media screen and (max-width: 500px) {
  .contact {
    padding: 0 2rem 2rem;
  }
}

footer {
  padding: 15px;
  background-color: #436970;
  color: #fffcf6;
  text-align: center;
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40rem);
            transform: translateX(-40rem);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40rem);
            transform: translateX(40rem);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40rem);
            transform: translateX(40rem);
  }
  70% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #436970;
            box-shadow: 0 0 0 0 #436970;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #436970;
            box-shadow: 0 0 0 0 #436970;
  }
}
/*# sourceMappingURL=Style.css.map */