$color-0: #ffffff;
$color-1: #fffcf6;
$color-2: #91AA93;
$color-3: #436970;
$color-4: #ffe6c9;

$size-xxl: 4rem;
$size-big: 3rem;
$size-medium: 2rem;
$size-medium-small: 1.5rem;
$size-small: 1rem;

$xs: 500px;
$md: 1000px;
$xl: 1550px;

$shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
$shadow-2: rgba(12, 18, 138, 0.15) 0px 13px 26px 0px;
$shadow-3: 0 8px 24px rgba(0,0,0,.13);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-color: $color-0;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: $color-3;
  line-height: 50px;

  @media screen and (max-width: $xs){
    line-height: 30px;
  }
}

a, a:visited{
  text-decoration: none;
  font-size: $size-small;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: $size-medium;
}

p {
  margin: $size-small;

  &.big {
    font-size: $size-big;
  }

  &.medium {
    font-size: $size-medium;
  }

  &.medium-small {
    font-size: $size-medium-small;
  }

  &.small {
    font-size: $size-small;
  }

  &.xxl{
    font-size: $size-xxl;
  }
}

.title{
  margin: 3rem 0;
}

.lowercase{
  text-transform: lowercase;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  &.section-navbar{
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: $size-small 0;
    margin-right: $size-small;
    background-color: $color-4;
    z-index: 1;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      li {
      margin-right: $size-small;
      
        a, a:visited{
          color: $color-3;
          font-size: $size-small;
          cursor: pointer;
          border: 1px solid $color-3;
          border-radius: 0;
          padding: 10px 20px;
          transition: all 0.5s;
        }

        &:hover {
          a{
            color: $color-1;
            background-color: $color-3;
            box-shadow: inset 6.5em 0 0 0 $color-3;
          }
        }  
        
        &:first-child{
          margin-left: 0;
        }
      }
    }
    @media screen and (max-width: $xs){
      margin-right: 0;
      top: unset; 
      bottom: 0;
      background-color: $color-0;
      // align-self: center;
    }
  }

  &.sticky-nav-bar {
    background-color: $color-0;
    box-shadow: $shadow-3;
    transition: 0.5s ease-in-out;
  }
  

 
}


header {
  background-color: $color-4;
  padding-top: 200px;
  

  .header-info {
    overflow: hidden;
    min-height: 55vh;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;

    p.slide-left{
      animation: 0.7s slide-left ease-out;
      text-transform: uppercase;
    }

    p.slide-right{
      animation: 0.7s slide-right ease-out;    
      margin: 3rem; 

      img{
        height: $size-medium-small;
        margin: 0 3px;
      }
    }

    @media screen and (max-width: $xs){
      p.slide-left {
        margin: 5rem 0;
        font-size: $size-big;
      }
    }
  }

  

  .about{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $size-xxl;
    
    img{
      max-width: 280px;
      max-height: 280px;
      box-shadow: $shadow;
      margin-left: $size-xxl;
    }
    
    p{
      text-align: end;

      strong{
        font-weight: bold;
      }
    }
  
    @media screen and (max-width: 1250px){
      padding: 0 $size-small;
    }

    @media screen and (max-width: $md){
      flex-direction: column;
      align-items: center;
      padding-bottom: $size-medium;

      img{
        margin-left: 0;
      }
  
      p {
        text-align: center;
        padding-left: 0;
      }
    }
  }

  .header-bottom{
    background-color: $color-2;
    background: $color-4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;    
  }

  @media screen and (max-width: $xs){
    padding-top: 0;
  }
}

ul.js-projects {
  line-height: 16px;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2rem 0;

  li {
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    height: 500px;
    margin: 40px;  
    perspective: 150rem;

    .card{
      transition: transform 1s ease-in-out;
      transform-style: preserve-3d;
      position: relative;
      width: 100%;
      height: 100%;
      box-shadow: $shadow-2;
    }

    &:hover {
      .card {
        transform: rotateY(180deg);
      }
    }

    .card-front, .card-back {          
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      overflow: hidden;
    }

    .card-back{
      padding: 15px 40px;
      background: $color-4;
      transform: rotateY(180deg);
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-content: center;

      h2, h3, a {
        color: $color-3;
        font-weight: bold;
        text-align: center;
      }
      h2{
        font-size: $size-medium;  
        line-height: $size-medium;       
      }
      h3 {
        padding: $size-small 0;
        line-height: $size-medium-small; 
      }
      h3, a{
        margin-top: $size-small;
        font-size: $size-small;
      }

      a{
        margin-top: 15px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 20px;
        display: block;
        transition: all .2s;
        border: solid 1px $color-3;
        text-align: center;

        &:hover{
          transition: background-color, opacity 0.2s ease-out;
          background-color: $color-1;
        }
      }
    }  
    
    @media screen and (max-width: $xs){
      margin: 2rem 0 0 0;
    }
  }
}


.contact {
  padding: 0 30% 2rem;
  text-align: center;    
  background: $color-4;
  color: $color-3;
  display: flex;
  justify-content: center;

  nav.contacts {
    margin-top: 10rem;
    display: flex;
    align-self: center;
  
    ul {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      li {
        margin-left: 1rem;
        border: 1px solid $color-1;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;    
        background-color: $color-1;  
        transition: 0.25s;

        &:first-child{
          margin-left: 0;
        }

        a {
          text-decoration: none;
          cursor: pointer;      
          
          i {
            &.material-icons,
            &.fa {
              font-size: 2rem;
              vertical-align: middle;
              color: $color-3;
            }
          }
        }
  
        &:hover {
          box-shadow: inset 0 0 0 2em $color-3;
          a i {
            color: $color-1;              
          }
        }
      }
    }
  }

  @media screen and (max-width: $xs){
    padding: 0 2rem 2rem;
  }
}

footer {
  padding: 15px;
  background-color: $color-3;
  color: $color-1;
  text-align: center;
}

@keyframes slide-left { 
  0% {
    opacity: 0;
    transform: translateX(-40rem);
  }
  70% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide-right { 
  0% {
    opacity: 0;
    transform: translateX(40rem);
  }
  70% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 $color-3; }
}

