*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font: 10px "Lato";
  background-color: #fff;
  position: relative;
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 500px) {
  body {
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

article {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 3rem 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow-button {
  font-size: 1.5rem;
  color: #000;
  padding: 1rem 2rem;
  border: 2px solid #000;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.arrow-button i.material-icons {
  font-size: 1rem;
  margin-top: 5px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.arrow-button:hover {
  color: #fff;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  background-color: grey;
  border: 2px solid #000;
}

.arrow-button:hover i.material-icons {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.button-to-the-top {
  display: inline-block;
  margin: 50px 0;
}

.button-to-the-top :hover i.material-icons {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrapper-iframe {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
}

.wrapper-iframe iframe {
  height: 90vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .wrapper-iframe iframe {
    height: 100%;
    width: 100%;
  }
}

.wrapper-iframe .wrapper-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10002;
}

@media screen and (max-width: 500px) {
  .wrapper-iframe .wrapper-close-button:before {
    -webkit-transform: translate(0, 11px) rotate(45deg);
            transform: translate(0, 11px) rotate(45deg);
  }
  .wrapper-iframe .wrapper-close-button span {
    background-color: transparent !important;
  }
  .wrapper-iframe .wrapper-close-button:after {
    -webkit-transform: translate(0, -11px) rotate(-45deg);
            transform: translate(0, -11px) rotate(-45deg);
  }
}

.wrapper-iframe .wrapper-close-button:before, .wrapper-iframe .wrapper-close-button:after,
.wrapper-iframe .wrapper-close-button span {
  content: "";
  display: block;
  height: 6px;
  width: 40px;
  margin-bottom: 5px;
  background-color: red;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
          transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
}

.wrapper-iframe .wrapper-close-button:hover:before {
  -webkit-transform: translate(0, 11px) rotate(45deg);
          transform: translate(0, 11px) rotate(45deg);
}

.wrapper-iframe .wrapper-close-button:hover span {
  background-color: transparent;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.wrapper-iframe .wrapper-close-button:hover:after {
  background-color: red;
  -webkit-transform: translate(0, -11px) rotate(-45deg);
          transform: translate(0, -11px) rotate(-45deg);
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.wrapper .about nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .about nav ul.contact {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .about nav ul.contact li {
  margin-right: 1rem;
}

.wrapper .about nav ul.contact li a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper .about nav ul.contact li a i.material-icons, .wrapper .about nav ul.contact li a i.fa {
  font-size: 2rem;
  vertical-align: middle;
  color: grey;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.wrapper .about nav ul.contact li:hover a i {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.wrapper .about .flex-center {
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .about .flex-center p {
  color: #000;
}

.wrapper .about .flex-center p.big {
  font-size: 3rem;
}

.wrapper .about .flex-center p.small {
  font-size: 1.3rem;
  line-height: 2rem;
}

.wrapper .about .flex-center p span.color {
  color: #e31b6d;
}

.wrapper .projects {
  min-height: 100vh;
}

.wrapper .projects ul.js-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .projects ul.js-projects li {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  height: 200px;
  margin-bottom: 20px;
  -webkit-perspective: 150rem;
          perspective: 150rem;
}

.wrapper .projects ul.js-projects li.temp {
  overflow: hidden;
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.wrapper .projects ul.js-projects li .card {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.4);
}

.wrapper .projects ul.js-projects li:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrapper .projects ul.js-projects li .card-front, .wrapper .projects ul.js-projects li .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.wrapper .projects ul.js-projects li .card-back {
  padding: 15px 40px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(227, 27, 109, 0.6)), to(rgba(227, 27, 109, 0.08)));
  background-image: linear-gradient(to right bottom, rgba(227, 27, 109, 0.6), rgba(227, 27, 109, 0.08));
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wrapper .projects ul.js-projects li .card-back h2, .wrapper .projects ul.js-projects li .card-back h3, .wrapper .projects ul.js-projects li .card-back a {
  color: #fff;
  font-weight: bold;
}

.wrapper .projects ul.js-projects li .card-back h2 {
  font-size: 20px;
}

.wrapper .projects ul.js-projects li .card-back h3, .wrapper .projects ul.js-projects li .card-back a {
  margin-top: 10px;
  font-size: 16px;
}

.wrapper .projects ul.js-projects li .card-back a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: solid 1px #fff;
  text-align: center;
}

.wrapper .projects ul.js-projects li .card-back a:hover {
  -webkit-transition: background-color, opacity 0.2s ease-out;
  transition: background-color, opacity 0.2s ease-out;
  background-color: #e31b6d;
  opacity: 0.6;
}

.wrapper .projects ul.html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.wrapper .projects ul.html li {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -10px;
}

.wrapper .projects ul.html li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
}

.wrapper .projects ul.html li a img {
  width: 150px;
}

@media screen and (max-width: 500px) {
  .wrapper .projects ul.html {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrapper .projects ul.html li {
    margin-bottom: 20px;
  }
  .wrapper .projects ul.html li a img {
    width: 180px;
  }
}
/*# sourceMappingURL=Style.css.map */