body
{
    float: none;
    margin:  0;
    background: #f4f4f4;
}
.hidden
{
    height: 18px;
    background-color: #090909;
    margin-top:0;
}
.center
{
    min-height: 100%;
    width: 960px;
    margin: -18px auto -80px;
}
.centralblock
{
    padding:18px 0 80px;
}
a img
{
    border: none;
}
.clear
{
    height:0px;
    font-size:0;
    line-height:0;
    clear:both;
}
.line
{
    height:1px;
    background-color: #c0c0c0;
}




/*centertop*/
.header
{
    width:100%;
}
.logo
{
    float:left;
}
.logo img
{
    display:block;
}
.centertop
{
    float: right;
    overflow:hidden;
}
.info
{
    float: right;
    font-size: 13px;
    font-family: Arial;
    margin-top: 18px;
}
.info a:link, .info a:visited
{
    color: #b1b1b1;
}
ul.topmenu
{
    margin:0;
    padding:31px 0 0 0;
    overflow:hidden;
    float:right;
}
ul.topmenu li
{
    list-style-type: none;
    float: left;
    color: #fe9b00;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    text-decoration:none; 
    padding-left:65px;
}
ul.topmenu li:first-child
{
    padding-left:0;
}
a
{
    text-decoration:none;
}
a:link, /*изначальный вид ссылки*/
a:visited /*посещенная ссылка*/
{
   color: #fda110;
}
a:hover /*цвет, после наведения курсора*/
{
    color: #090909;
}




/*GreatPicture*/
.GreatPicture
{
    background: url(pictures/greatpicture.png) no-repeat; 
    margin: 20px 0;
    width:959px;
    height:380px;
    overflow:hidden;
}
.GreatPictureMenu
{
    background-color:#090909;
    width:442px;
    height:44px;
    vertical-align: 50%;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    vertical-align: middle;
    margin:290px 0 0 35px;
    }
.GreatPictureMenu a:hover
{
    color: #999898;
}
.heres
{
    margin-top:13px;
    margin-left:15px;
    float: left;
}
.viev
{
    margin-top:13px;
    float:left;
    margin-left:77px;
}
.arrow
{
    margin-top:9px;/*----------------почему 9 пх а не 13?*/
    float:right;
    margin-right:7px;
}




/*treeblockcontent*/
.treeblockcontent
{
    padding-top:25px;
    overflow:hidden;
}
.treeblockcontent .column
{
    width:285px;
    float:left;
    padding-left:52px;
}
.treeblockcontent .column:first-child
{
    padding-left:0;
}
.treeblockcontent h2
{
    text-transform:uppercase;
    margin:0;
    padding: 0 0 10px 25px;
    font-family: Arial;
    font-size:18px;
    font-weight:bold;
    background:url(pictures/arrowcontent.png) no-repeat 0 7px;
    border-bottom: 6px solid #090909;
    margin-bottom:20px;
}
.treeblockcontent .column .read
{
    padding: 7px 0 7px 22px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    background:url(pictures/arrowcontent.png) no-repeat 0 50%;
}
ul.list-two
{
    list-style-type: none; 
    font-family: Arial;
    font-size:12px;
    line-height: 15px;
    color: #5d5d5d; 
    padding:0;
    margin:0;
}
ul.list-two li
{
    background: url(pictures/check.png) no-repeat 0 3px;
    padding: 0 0 10px 24px;
}
.content
{
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    color: #5d5d5d;
    line-height: 22px;
}
.linkbottomcontent
{
    font-style: italic;
}




/*PORTFOLIO BLOCK*/
.portfolio
{
    padding-bottom:40px;
    margin-top:20px;
}
.portfolio h2
{
    font-family: Arial;
    font-size:18px;
    font-weight: bold;
    background:url(pictures/arrowcontent.png) no-repeat 0 7px;
    margin:0;
    padding: 0 0 10px 25px;
}
.portfolio ul
{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
.portfolio ul li
{
    float:left;
    margin-left: 32px;
    position:relative;
}
.portfolio ul li:first-child
{
    margin-left: 0;
}
.portfolio ul li img
{
    display:block;
}
.portfolio a.view
{
    position:absolute;
    bottom:0;
    right:0;
    display:block;
    background:#fe9b00;
    padding:0 10px;
}
.portfolio a.view span
{
    display:block;
    background:url(pictures/arrowcontent.png) no-repeat 100% 50%;
    padding:0 15px 0 0;
    color: #090909;
    font: bold 12px Arial;
    text-transform: uppercase;
    line-height:20px;
}




/*almost-last-block*/
.last-block
{
    overflow:hidden;
    margin-top:24px;
    padding-bottom:40px;
}
.first-last-block
{
    width:661px;
    float:left;
    margin-right: 65px;
}
.last-block h3
{
    background: url(pictures/arrowcontent.png) no-repeat 0 4px;
    padding: 0 0 18px 25px;
    margin:0;
    font-size: 12px;
    font-family: Arial;
    font-weight:bold;
    text-transform: uppercase;
}
.links
{
    width: 226px;
    float:left;
}
.links a 
{
    margin-right: 16px;
}




/*end*/
.end
{
    height: 80px;
    background-color:#e2e2e2; 
    overflow:hidden;
}
.center-end
{
    width:960px;
    background-image:url(pictures/logoend.png);
    background-repeat: no-repeat;
    background-position:100% 50%;
    overflow:hidden;
    margin:0 auto;
    height:80px;
}
.end p
{
    font-size: 12px;
    font-family:Arial;
    color:#5d5d5d;
    padding-top:28px;
    margin:0;
    
}