<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>E-commerce</title>
        <link rel="icon" type="image/png" href="images/title.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
<body>
    <div class="wrapper d-flex justify-content-center flex-column text-justify">
        <h1>E-store</h1>
        <div id="basket" class="container-fluid">
            <a class="cart-button" v-show="!isBasketShown" v-on:click="showBasket()">
                <span class="text-success">{{totalAmountOfItems}}</span>
                <i class="fas fa-cart-arrow-down text-success"></i>
            </a>
            <div class="card border-success mb-1" v-show="isBasketShown">
                <h2 class="text-center">Your basket
                    <i class="fas fa-times text-danger" v-on:click="showBasket()"></i>
                </h2>
                <ul class="list-group" >
                    <li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in cart">
                        {{item.name}}
                        <span>
                            <i class="fas fa-plus" v-on:click="addOneElement(item)"></i>
                            <b>{{item.amount}}</b>
                            <i class="fas fa-minus" v-on:click="removeOneElement(item)"></i>
                            <i class="fas fa-trash" v-on:click="removeAll(item)"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <ul id="products_list" class="list-group">
            <li class="list-group-item" v-for="item in products">
                <h3>{{item.title}}</h3>
                <img class="img-thumbnail img-fluid" v-bind:src="item.img" v-bind:alt="item.title" @error="imgPlaceholder">
                <!-- //@error – which listens to DOM events.  -->
                <p class="short-text" v-show="!item.isFullText">{{item.text}}</p>
                <p class="full-text" v-show="item.isFullText">{{item.text_added}}</p>
                <button class="btn btn-info readMoreLess" v-on:click="readMoreLess(item)">
                    <span v-show="!item.isFullText">
                        Read more
                    </span>
                    <span v-show="item.isFullText">
                        Read less
                    </span>
                </button>
                <button class="btn btn-success addToBasket"
                    v-on:click='add(item.title, item.id)'>
                    Add to basket<i class="fas fa-shopping-cart"></i>
                </button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/products.js"></script>
    <script src="scripts/js.js"></script>
    <!-- <script type="module" src="scripts/main.js"></script> -->
</body>
</html>