* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

    a:link, a:visited {
        color: red;
    }

    a:hover, a:active {
        color: hotpink;
    }

body
{
    min-height: 100%;
    display: grid;
    grid-template-columns: auto 960px auto;
    grid-template-areas: '. header .' '. main .';
}

header{
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main {
    grid-area: main;
}